.ll-fold{
	max-height:5em;
	transition: max-height ease-in 0.7s;
	overflow:hidden;

}

.ll-fold-hidden{
	max-height:0em!important;
}

.hsk-1{
	background: #f8b51e;
}

.hsk-2{
	background: #217f96;
}

.hsk-3{
	background: #ed6e06;	
}

.hsk-4{
	background: #bb1019;	
}

.hsk-5{
	background: #1a3f76;	
}

.hsk-6{
	background: #6a3669;	
}

.tocfl-a1, .tocfl-a2{
	background:#1eb;
}

.tocfl-b1, .tocfl-b2{
	background:#8e1;
}

.tocfl-c1, .tocfl-c2{
	background:#e11;
}
